{% extends "admin/index.html" %}
{% load i18n static %}

{% block app_list %}
    <div id="content-main">
        <div class="app-list">
            <!-- Filtrar as aplicações -->
            {% for app in app_list %}
                <!-- Remover a aplicação "Autenticação e autorização" -->
                {% if app.name != 'Autenticação e autorização' %}
                    <div class="app-{{ app.app_label }}">
                        <table>
                            <caption>
                                <a href="{{ app.app_url }}">{{ app.name }}</a>
                            </caption>
                            <tbody>
                                {% for model in app.models %}
                                    <tr class="{% cycle 'row1' 'row2' %}">
                                        <th scope="row">
                                            <a href="{{ model.admin_url }}">{{ model.name }}</a>
                                        </th>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
