{% extends "admin/base.html" %}
{% load static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin_custom.css' %}">
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:"Django administration" }}</a></h1>
{% endblock %}

{% block nav-global %}
<nav id="menu">
    <ul class="nav-horizontal">
        <li><a href="{% url 'admin:index' %}">Home</a></li>
        {% for app in available_apps %}
            {% for model in app.models %}
                <li><a href="{{ model.admin_url }}">{{ model.name }}</a></li>
            {% endfor %}
        {% endfor %}
    </ul>
</nav>
{% endblock %}
